* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headpnav {
  background: rgba(250, 250, 250, 0.9);
}
#submitBtn {
  margin-top: 5px;
  position: relative;
    left: 40%;
    margin-bottom: 10px;
}

.loginbg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: "cover";
}

.cardlogin {
  
  height: 0;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: "cover";
}

.formlogin {
  background: rgba(0, 0, 0, 0.3);
}

.signupbg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: "cover";
}

.cardsignup {
  height: 0;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: "cover";
}
.formsignup {
  background: rgba(0, 0, 0, 0.3);
}

.specificbg {
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: "cover";
}

.cardspecific {
  height: 40vh;
  width: 400px;
  margin-top: 100px;
  
}

.orderbg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: "cover";
}
	

.productsbg {
  
  height: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.productcardbody {
  background: rgba(0, 0, 0, 0.3);
}




#basic-navbar-nav{
text-align: center;
}

.logintext {
  text-align: center;
}

.loginbtn {
   position: relative;
    left: 50%;
    margin-bottom: 10px;

} 

.carouselimg {
  width:1000px;
  height:500px;
  margin: auto;
}



.card1 {
  min-height: 100%;
  margin-bottom: auto;
  background: rgba(0, 0, 0, 0.3);
}

.card2 {
  height: 3.5em;
  color: white;
}

.card3 {
  position: center;
  height: 12em;
  white-space: pre-wrap;
  overflow: auto;
  color: gray;
}

.footercard {
  background: rgba(250, 250, 250, 0.5);
}

.priceprdct {
  color: yellow;
}

.detailsbtn {
  position: relative; 
  margin-top: 5px;
    left: 40%;
    margin-bottom: 10px;
}

.shpnwbtn {
  position:relative;
    left: 32%;
    margin-bottom: 10px;
}

.addproductbtn{
  background: rgba(250, 250, 250, 0.2);
}

.showusersbtn{
  background: rgba(250, 250, 250, 0.2);
}

.showproductbtn{
  background: rgba(250, 250, 250, 0.2);
}

.updatebtn{
  background: rgba(250, 250, 250, 0.2);
}

.enablebtn{
  background: rgba(250, 250, 250, 0.2);
}

.disablebtn{
  background: rgba(250, 250, 250, 0.2);
}

.cardspecific {
  background: rgba(0, 0, 0, 0.4);
}
.gobackbtn {
  background: rgba(0, 0, 0, 0.2);
}

.carouselspec {
  position: relative;
  justify-content: center;
}